
body, html {
    display: flex;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.todo_element {
    display: flex;
    flex-direction: row;
    position: relative;
    transition: background-color 0.3s ease;
}
.todo_element::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: inherit;
    z-index: -1;
}
.todo_element:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Полупрозрачный фон при наведении на .todo_element */
}
.todo_element:hover .todo_target {
    background-color: inherit; /* Наследование фона от .todo_element */
}

.todo_del {
    cursor: pointer;
    visibility: hidden;
}

.block:hover .todo_del {
    visibility: visible;
}

.todo_target {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-around;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

.todo_target > * {
    margin-left: 5px;
}
.todo_target > .stat,
.todo_target > .prod,
.todo_target > .id,
.todo_target > .name {
    background-color: inherit;
}
.todo_target input {
    border: none;
    outline: none;
    background-color: inherit; /* Наследование фона от .todo_element */
}

.todo_target > *:first-child {
    margin-left: 0; /* Убираем отступ слева у первого дочернего элемента */
}


.list {
    margin-top: 15px;
    display: flex;
    flex-direction: column-reverse;
}

.themeToggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.themeToggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
}

.slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.block {
    display: flex;
    flex-direction: column;
}

.menu_block {
    display: flex;
    flex-direction: row;
}

.main {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 300px;
    border: 1px solid black;
}

.main > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px 5px;
}

.main > .stat {
    display: flex;
    width: 25%;
}

.main > .prod {
    display: flex;
    width: 21.5%;
}

.main > .id {
    display: flex;
    width: 12.5%;
}

.main > .name {
    display: flex;
    width: 41.5%;
}

.navigate {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.block {
    margin: 0 10px ;
}

select {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    visibility: hidden;
}

.block:hover select {
    visibility: visible;
}


.todo_target > .stat {
    display: flex;
    flex-direction: row;
    width: 25%;
}

.todo_target > .prod {
    display: flex;
    flex-direction: row;
    width: 21.5%;
}

.todo_target > .id {
    display: flex;
    flex-direction: row;
    width: 12.5%;
}
.todo_target > .name {
    display: flex;
    flex-direction: row;
    width: 41.5%;
}

.todo_del {
    cursor: pointer;
    visibility: hidden;
}

.todo_element:hover .todo_del {
    visibility: visible;
}

.todo_del:hover {
    background-color: white;
}
